body {
  background-color: rgb(198, 196, 196);
  color: white;
  padding: 10px;
}

.App {
  display: flex;
  flex-direction: row wrap;

}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  
}