.nav {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 10px;
    
}

li {
    display: inline;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: rgb(234, 211, 211);
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.animals,
.birds {
    width: 50%;
    height: 80%;
    background-color: rgb(214, 194, 233);
    margin: 10px;
    color: white;
}

.animals {
    background-image: url("https://images.pexels.com/photos/3608263/pexels-photo-3608263.jpeg");
    width: 700px;
    height: 900px;
    background-size: cover;
}

.birds {
    background-image: url("https://images.pexels.com/photos/17811/pexels-photo.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    width: 700px;
    height: 900px;
    background-size: cover;
}

.link {
    padding: 5px;
    background-color: grey;
    border-radius: 5px;
}

a {
    color: rgb(36, 34, 34);
    text-decoration: none;
    font-size: large;
    font-weight: 700;
}